[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "pack/plugins/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/vim-livedown"]
	path = pack/plugins/start/vim-livedown
	url = https://github.com/shime/vim-livedown.git
